In [1]:
import pandas as pd

In [4]:
dataset = pd.read_csv("dataset_SCL.csv",dtype="str")
dataset['Fecha-I'] = pd.to_datetime(dataset['Fecha-I'])
dataset['Fecha-O'] = pd.to_datetime(dataset['Fecha-O'])

In [7]:
def populate_high_season(date):
    if pd.to_datetime(str(date.year) + '-1-1') <= date < pd.to_datetime(str(date.year) + '-3-4'):
        return 1
    elif pd.to_datetime(str(date.year) + '-7-15') <= date < pd.to_datetime(str(date.year) + '-8-1'):
        return 1
    elif pd.to_datetime(str(date.year) + '-9-11') <= date < pd.to_datetime(str(date.year) + '-10-1'):
        return 1
    elif pd.to_datetime(str(date.year) + '-12-15') <= date:
        return 1
    else:
        return 0
dataset['high_season'] = dataset['Fecha-I'].apply(populate_high_season)

dataset['min_diff'] = (dataset['Fecha-O'] - dataset['Fecha-I']).dt.total_seconds()/60

dataset['delay_15'] = dataset['min_diff'].apply(lambda x: 1 if x > 15 else 0)

per_day_lambda = lambda x: 'night' if 0<=x<=4 else 'morning' if 5<=x<=11 else 'afernoon' if 12<=x<=18 else 'night' if 19<=x<=23 else 'n/a'
dataset['period_day'] = dataset['Fecha-I'].dt.hour.apply(per_day_lambda)
dataset.to_csv('synthetic_features.csv', index=False)

In [8]:
dataset.head()

,Fecha-I,Vlo-I,Ori-I,Des-I,Emp-I,Fecha-O,Vlo-O,Ori-O,Des-O,Emp-O,...,AÑO,DIANOM,TIPOVUELO,OPERA,SIGLAORI,SIGLADES,high_season,min_diff,delay_15,period_day
0,2017-01-01 23:30:00,226,SCEL,KMIA,AAL,2017-01-01 23:33:00,226,SCEL,KMIA,AAL,...,2017,Domingo,I,American Airlines,Santiago,Miami,1,3.0,0,night
1,2017-01-02 23:30:00,226,SCEL,KMIA,AAL,2017-01-02 23:39:00,226,SCEL,KMIA,AAL,...,2017,Lunes,I,American Airlines,Santiago,Miami,1,9.0,0,night
2,2017-01-03 23:30:00,226,SCEL,KMIA,AAL,2017-01-03 23:39:00,226,SCEL,KMIA,AAL,...,2017,Martes,I,American Airlines,Santiago,Miami,1,9.0,0,night
3,2017-01-04 23:30:00,226,SCEL,KMIA,AAL,2017-01-04 23:33:00,226,SCEL,KMIA,AAL,...,2017,Miercoles,I,American Airlines,Santiago,Miami,1,3.0,0,night
4,2017-01-05 23:30:00,226,SCEL,KMIA,AAL,2017-01-05 23:28:00,226,SCEL,KMIA,AAL,...,2017,Jueves,I,American Airlines,Santiago,Miami,1,-2.0,0,night